# Text type:Str
-For multi line string use triple single quotes or triple double quotes.
-For multi line comment use triple single quotes or triple double quotes.

In [3]:
s1="njn gjnf e"
s2="""hf hrg erjghre grr gej gj he
rg erg egh hg egh """
s3="suparsh's home"
print(s1)
print(s2)
print(s3)

"""this is  a python program
python is open source
python is easy to learn"""

njn gjnf e
hf hrg erjghre grr gej gj he
rg erg egh hg egh
suparsh's home
10

# Numeric type

In [10]:
x=1
y=35565564791
z=-3626272
print(type(x))
print(type(y))
print(type(z))
x=1.5
y=355655.45
z=-445013.454
print(type(x))
print(type(y))
print(type(z))
a=36e3#e or E means 36x10^3 so its type is float
print(type(a))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
36000.0

# 1.Decimal form
a=111

# 2.Binary form
a=0b1111 or 0B1111

# 3.Octal form
a=0o1 or a=0O1

# 4.Hexa Decimal form
a=0x111 or 0X111

In [12]:
a=111
print(a)
a=0b1111
print(a)
a=0o1
print(a)
a=0x111
print(a)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

# Base Conversion
1.bin()
2.oct()
3.hex()
4.

In [20]:
print(bin(15))
print(bin(0o11))
print(bin(0x11))

0b1111
0b1001
0b10001

In [21]:
print(oct(15))
print(oct(0b1111))
print(oct(0x11))

0o17
0o17
0o21

In [23]:
print(hex(15))
print(hex(0b1111))
print(hex(0o11))

0xf
0xf
0x11

In [28]:
x=hex(0x15)
print(int(x,16))
x=oct(0o11)
print(int(x,8))
x=bin(0b1111)
print(int(x,2))

21
9
15

# Sequence Type:-List,Tuple,Range

In [45]:
#LIST
'''
1.Ordered
2. changeable
3.duplicates allowed
4.indexed
mutable data type/strcuture'''
l1=["apple","banana","orange"]
print(l1)
l2=["apple","banana",1,2.5,True,False]
print(l2)
print(type(l1))
print(type(l2))
l1[0]="mango"
print(l1)#['mango', 'banana', 'orange']

['apple', 'banana', 'orange']
['apple', 'banana', 1, 2.5, True, False]
<class 'list'>
<class 'list'>
['mango', 'banana', 'orange']

In [35]:
#TUPLE
'''
1.Ordered
2.unchngeable
3.duplicates allowed
4.indexed
immutable data type/strcuture'''
t1=("apple","banana","orange")
print(t1)
t2=("abcd",9,True,False)
print(t2)
print(type(t1))
print(type(t2))
t1[0]="mango"#TypeError: 'tuple' object does not support item assignment
print(t1)

('apple', 'banana', 'orange')
('abcd', 9, True, False)
<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

# Mapping Type:-Dictionary(key-value pair)

In [51]:
'''
1.ordered
2.changeable
3.doest allow duplicates'''
d={10:"bucky",20:"stark",30:"clint"}
print(d[10])
print(d[20])
print(d[30])

bucky
stark
clint

# Set

In [56]:
'''
1.unorderd
2.unindexed
3.do not allow duplicates'''
x={1,2,3,7,2,7,3,1,9}
print(x)
y={'apple','banana','apple'}
print(y)

{1, 2, 3, 7, 9}
{'banana', 'apple'}

In [58]:
#Frozen Set
list=[1,2,3,4,5,6,7,8,9]
y=frozenset(list)
print(y)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

# Boolean Type:bool

In [59]:
print(bool(0))
print(bool(1))
print(bool("apple"))
print(bool(""))
print(bool(0<8))
print(bool(0>8))
print(bool(0==0))

False
True
True
False
True
False
True

# Reserved keywords
1.True
2.False
3.None
4.and 
5.or 
6.not
7.def
8.pass
9.global
10.is
11.if
12.elif
13.else
14.while
15.non local
16.lamda
17.del
18.with
19.for
20.break
21.continue
22.return
23.in
24.yield
25.try
26.except
27.finally
28.raise
29.assert
30.import
31.from 
32.as
33.class

In [64]:
#Type casting
x=7
y=str(7)
z=float(7)
print(x)
print(type(y))
print(z)
a=1,2,3,4,5
print(a)
print(type(a))
a,b,c,d=1,2,3,4#typr is int
#equiavlent to a=1,b=2,c=3,d=4

7
<class 'str'>
7.0
(1, 2, 3, 4, 5)
<class 'tuple'>
<class 'int'>
2

In [69]:
s=20
print("Variable:",s)
s1="suparsh"
print("Hello",s1)

Variable: 20
Hello suparsh

In [74]:
a="10"
b="20"
print(a+b)
a="90"
b=20
print(a*b)#here 90 will be printed 20times (*) used for repitition in string cases.

1020
9090909090909090909090909090909090909090

# Global variable & Local Variable

In [81]:
a="python"#global variable
def test():
    a="java"#local variable
    print(a)
test()
print(a)

java
python

In [82]:
a="python"#global variable
def test():
    global a
    a="java"#local variable
    print(a)
test()
print(a)

java
java

# Reading user input

In [85]:
x=input("Enter data:")
print(x)
y=int(input("Enter int data:"))
print(y)

Enter data:jf rjijr g3k/.h;lt khth2311154h hrtryh rhs
jf rjijr g3k/.h;lt khth2311154h hrtryh rhs
Enter int data:45815351
45815351