In [2]:
a=int(input("Enter no.:-"))
b=int(input("Enter no.:-"))
print("Data 1 :-",a)
print("Data 2 :-",b)
print("Sum is:-",a+b)

Enter no.:-5
Enter no.:-6
Data 1 :- 5
Data 2 :- 6
Sum is:- 11

# Type Casting

In [11]:
#1.int()
print(int(123.987))
print(int(True))
print(int(False))
print(int("10"))
print(int("10.5"))#ValueError: invalid literal for int() with base 10: '10.5'
print(int("0b1111"))#ValueError: invalid literal for int() with base 10: '0b1111'

123
1
0
10

ValueError: invalid literal for int() with base 10: '0b1111'

In [13]:
#2.float
print(float(10))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))
print(float("ten"))#ValueError: could not convert string to float: 'ten'
print(float("0b1111"))#ValueError: could not convert string to float: '0b1111'

10.0
1.0
0.0
10.0
10.5

ValueError: could not convert string to float: '0b1111'

In [17]:
#3.bool
print(bool(0))
print(bool(1))
print(bool(10))
print(bool(10.5))
print(bool(0.198))#True
print(bool(0.0))#False
print(bool("True"))
print(bool("False"))#True
print(bool(""))#False

False
True
True
True
True
False
True
True
False

In [22]:
#4.str
print(str(10))
print(str(10.5))
print(str(True))
print(str())

10
10.5
True
1.7320508075688772

# Python Operation
A)Arithmetic operators
1.Addtion(+) (string-> concatenation)
2.Substraction(-) 
3.Multiplication(*) (string-> string multiplication or repition)
4.Division(/)(output always will be float)
5.Modulus(%)
6.Floor Division(//)
7.Exponention(**)

In [27]:
a=int(input("Enter no.:-"))
b=int(input("Enter no.:-"))
print("Addition is:",a+b)
print("Substraction is:",a-b)
print("Multiplication is:",a*b)
print("Division is:",a/b)
print("Modulus is:",a%b)
print("Floor division is:",a//b)
print("Exponention is:",a**b)

Enter no.:-2
Enter no.:-3
Addition is: 5
Substraction is: -1
Multiplication is: 6
Division is: 0.6666666666666666
Modulus is: 2
Floor division is: 0
Exponention is: 8

B)Comparision or relational operators
1)> -> greater than
2)< -> less than
3)>= -> greater than or equal to
4)<= -> less than or equal to
5)== -> equal to 
6)!= -> not equal to

In [29]:
a=int(input("Enter no.1:-"))
b=int(input("Enter no.2:-"))
print("a>b is:-",a>b)
print("a<b is:-",a<b)
print("a>=b is:-",a>=b)
print("a<=b is:-",a<=b)
print("a==b is:-",a==b)
print("a!=b is:-",a!=b)

Enter no.1:-6
Enter no.2:-6
a>b is:- False
a<b is:- False
a>=b is:- True
a<=b is:- True
a==b is:- True
a!=b is:- False

In [33]:
a=input("Enter no.1:-")
b=input("Enter no.2:-")
print("a>b is:-",a>b)
print("a<b is:-",a<b)
print("a>=b is:-",a>=b)
print("a<=b is:-",a<=b)
print("a==b is:-",a==b)
print("a!=b is:-",a!=b)

Enter no.1:-arman
Enter no.2:-aryan
a>b is:- False
a<b is:- True
a>=b is:- False
a<=b is:- True
a==b is:- False
a!=b is:- True

In [36]:
print(True>=True)
print(10>True)
print(False>True)
print(10<20<30)
print(10<20<30>40)

True
True
False
True
False

C) Logical operators
1.and
2.or
3.not

I).Boolean Type behaviour
and -> if both arguments are trure then only reslult is True.
or -> if atleast one arguments are trure then only reslult is True.
not -> complement

In [38]:
print(True and False)#False
print(True or False)#True
print(not False)#True
print(not True)#False

False
True
True
False

II)Non-Boolean Type behaviour
->0 means false
->non-zero means true
->empty string always treated as False
1.X and Y -> if X evaluates to False then result is X otherwise result is Y.
eg:- 10 and 20 ->20
     0 and 20  -> 0
2.X or Y -> if X evaluates to True then result is X otherwise result is Y.
eg:- 10 and 20 ->10
     0 and 20  ->20
3.not X ->  if X evaluates to False then result is True otherwise result is False.
eg:- not 10 -> False
     not 0 -> True

III)Ternary Operations(conditional)
syntax: x=first value if condition else second value

In [40]:
a,b=10,20
x=30 if a<b else 40
print(x)

30

4.Assignment Operator 
x=10
x+=10 -> x=x+10 (+=)
x-=10 -> x=x-10 (-=)
x*=10 -> x=x*10 (*=)
x/=10 -> x=x/10 (/=)
x%=10 -> x=x%10 (%=)
x**=10 -> x=x**10(**=)
x//=10 -> x=x//10

5.Membership operator
in -> return true if given object present in specefic collection
not in -> return true if given object not present in specefic collection

Eg: x="hello learning python is very busy"
print("l" in x) #True
print("d" in x) #False
print("d" not in x) #True
print("python" in x) #True

In [43]:
x="hello learning python is very busy"
print("python" in x)

True

In [44]:
a=30
b=20
c=10
d=5
print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
100.0
70.0

In [46]:
#WAP to find the area of the triangle.
a=float(input("Enter base:-"))
b=float(input("Enter height:-"))
area=0.5*a*b
print(area)

Enter base:-8
Enter height:-9
36.0

In [50]:
#WAP to find area of a circle
import math
a=float(input("Enter radius:-"))
area=math.pi*a*a
print(area)

Enter radius:-2.33
17.05539235707363

In [55]:
#WAP to convert farenhit to celsius and vice versa
choice=int(input("Enter 1.celsius 2.farenhit"))
if(choice==1):
    f=float(input("Enter farenhit value:-"))
    c=(f-32)*(5/9)
    print("Temperature in celsius is:-",c)
else:
    c=float(input("Enter celsius value:-"))
    f=(9/5)*c+32
    print("Temperature in farenheit is:-",f)

Enter 1.celsius 2.farenhit2
Enter celsius value:-37
Temperature in farenheit is:- 98.60000000000001

In [73]:
#WAP to enter no of days the it prints in year,months and days
d=int(input("Enter days:-"))
y=d//365
m1=d%365
m=m1//30
d1=m1%30
print("years:-",y,"months:-",m,"days:-",d1)

Enter days:-932
years:- 2 months:- 6 days:- 22